* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: grey;
    line-height: 28px;
    position: relative;
    margin: 20px;
}
  
/* Header */

header {
    border-bottom: 2px solid #DADADA;
}

.container {
    margin: 0px;
    background: white;
    width: 100%;
}

.topbar {
    width: 960px;
    margin: 0 auto;
	clear: both;
    overflow: hidden;
    background: #fff;
    text-align: center;
}

#name {
	float: left;
	display: block;
	background-color: #4aaaa5;
	color:#fff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
    padding: 40px;
    margin: 0px;
    border: 40px;
	font-weight: bold;
}

nav {
    float: right;
    padding: 40px;
    margin: 30px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #777777;
    word-spacing: 4px;
}

h1 {
	font-size: 30px;
    align: left;
    color: #4aaaa5;
}

.container2 {
    background-image: url("../../assets/images/background.jpg");
}

.main {
    width: 960px;
	margin: 0 auto;
    border: #666666;
    height: 785px;
    margin-top: 0px;
    padding: 30px;
    position: relative;
    background: white;
}


#selfie {
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    position: absolute;
}

img {
    float: left;
    margin: 20px;
}

  
.footer {
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	line-height: 50px;
	margin-top: 40px;
	border-top: 8px solid #4aaaa5;
    font-size: 12px;
    widows: 100%;
}
  